<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        .name a.truefirst {
            color:#FBCDCD
        }
        .name a.truelast {
            color:#ccc
        }
        .name a.truemiddle {
            color:blueviolet
        }
        .name a.truehover {
            color:red
        }
    </style>
    <script src="../../../dist/angular/angular.js"></script>
</head>
<body>
<div ng-app="app" ng-controller="StudentList">
    <button ng-click="insertDog()">添加</button>
    <button ng-click="delLast()">删除</button>
    <ul>
        <li ng-repeat="student in students">
            <span class="index">{{$index+1}}</span>
            <!--第一种添加class 方法 拼接字符串-->
            <!--<span class="name">-->
                <!--<a href="/student/view/{{student.id}}" class="{{$first}}first {{$last}}last {{$middle}}middle">{{student.name}}</a>-->
            <!--</span>-->
            <!--第一种添加class 方法 判断值类型 ng-class -->
            <span class="name">
                <a href="/student/view/{{student.id}}"
                   ng-class="{truefirst:$first,truemiddle:$middle,truelast:$last,truehover:hover}"
                   ng-mouseenter="hover = true" ng-mouseleave="hover = false">
                    {{student.name}}
                </a>
            </span>
            <span class="score">{{student.score}}</span>
        </li>
    </ul>

</div>

<script>
    var app = angular.module('app',[]);
    app.controller('StudentList', function ($scope) {
        $scope.students = [
            {"name":"code_bunny","score":"100","id":"001"},
            {"name":"white_bunny","score":"90","id":"002"},
            {"name":"black_bunny","score":"80","id":"003"}
        ];
        $scope.insertDog = function(){
            $scope.students.splice($scope.students.length,0,{"name":"code_dog","score":"101","id":"004"});
            //$scope.students.push({"name":"code_dog","score":"101","id":"004"});
        };
        $scope.delLast = function(){
            $scope.students.splice(-1,1)
        }
    });
</script>
</body>
</html>